body {
    align-content: center;
    text-align: center;
    background-image: url("https://i.pinimg.com/originals/2d/ae/36/2dae3606d19b12a872813fff230e0ca1.jpg"); background-size: cover;
}

#currentTime {
    color: #ee5f5b;
}

#heading.text-center {
    color: #ee5f5b;
}
